.container-fluid{
}
.navbar{
    img{
        margin-left: 10px;
        margin-right: 10px;
    }
}
.nav-item{
    a{
        font-family: $tipografia-titulo;
        font-weight: 600;
        color: rgb(0, 0, 0);
        font-size: 17px;
        button{
            font-family: $tipografia-titulo;
            font-size: 15px;
        }
    }
}