.titulo-u{
    padding: 30px;
    h1{
        font-family: $tipografia-titulo;
        font-weight: 900;
    }
}
.grid{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    display: grid;
    width: 100%;
    height: 700px;
    grid-template-columns: auto auto ;
    grid-template-rows:auto auto;
    grid-template-areas: 
    "card1  card2  card3 card4 "
    "card1  card2  card3 card4 "
    "card5  card6  card7 card8 "
    "card5  card6  card7 card8 "
    ;
}
.card-body{
    h5{
        font-family: $tipografia-principal-n ;
        text-align: center;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size:17px ;
        font-weight: 600;
        border: solid 1px black;
        background-color: #fff;
        border-radius: 5px;
    }
    p{
        margin-top: 20px;
    }
    a{
        position: absolute;
        width: 50px;
        top: 5px;
        left: 5px;
        border-radius: 100px;
    }
}
.card1{
    @include grid(card1)
}
.card2{
    @include grid(card2)
}
.card3{
    @include grid(card3)
}.card4{
    @include grid(card4)
}
.card5{
    @include grid(card5)
}
.card6{
    @include grid(card6)
}
.card7{
    @include grid(card7)
}
.card8{
    @include grid(card8)
}