.fondo-iniciarsesion img{
    width: 100%;
    position: relative;
}
.grid-iniciarsesion{
    display: flex;
    justify-content: space-between;
    background-image: url(../assets/img/portada/adidas-logo.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: grid;
    border:solid 2px ;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr ;
    grid-template-rows:1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
    ".       .         .       ini-sub         . "
    ".       .         .       ini-sub   . "
    "ini-tit ini-tit   .       ini-form   . "
    "ini-tit ini-tit   .       ini-form  . "
    ".       .         .       .         . "
    ".       .         .       .         . "
}
.titulo-iniciarsesion {
    grid-area: ini-tit;
    width: 100%;
    height: 100%;
    h1 {
        margin: 70px;
        font-family: $tipografia-titulo;
        font-size: 40px;
        color: #fff;
        font-weight: 900;
    }
}
.sub-iniciarsesion {
    grid-area: ini-sub;
    width: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    h2 {
        font-size: 20px;
        color: #ffffff;
    }
}
.form-iniciarsesion {
    grid-area: ini-form;
    width: 300px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    input{
        margin: 30px;
        font-size: 20px;
        border-radius: 20px;
        text-align: center;
        font-family: $tipografia-sub-p;
    }
    a{
        text-align: center;
        font-family: $tipografia-sub-p;
    }
    button{
        text-decoration: none;
        font-family: $tipografia-sub-p;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        min-width: 130px;
        height: 40px;
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        overflow: hidden;
        border-radius: 5px;
        border: none;
        background-color: #ffffff
    }
    button:hover {
        border-radius: 5px;
        padding-right: 24px;
        padding-left:8px;
    }
    button:hover:after {
        opacity: 1;
        right: 10px;
    }
    button:after {
        content: "\00BB";
        position: absolute;
        opacity: 0;
        font-size: 20px;
        line-height: 40px;
        top: 0;
        right: -20px;
        transition: 0.4s;
    }
}
.ini-bot{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.ini-syt{
    width: 100%;
    height: 200px;
    h2{
        padding: 25px;
        font-family: $tipografia-titulo;
        font-weight:900;
        font-size: 35px;
        color: rgb(0, 0, 0);
    }
    p{
        text-align: center;
        font-size: 20px;
        font-family: $tipografia-sub-p;
        font-weight: 600;
    }
}
.sorteo{
    width: 100%;
    height: 600px;
    background-image: url(../assets/img/portada/sorteo.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        align-items: center;
        font-family: $tipografia-titulo;
        font-weight: 900;
        font-size: 60px;
        color: rgb(255, 254, 254);
        font-style: italic;
        background-color: #00000093;
        border-radius: 15px;
    }
}